@import "reset.css";

img {
    width: 250px;
}

footer {
    background-color: #52623E;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer > p {
    color: white;
}

footer > div {
    display: flex;
    justify-items: flex-end;
}

footer > div > img {
width: 1.5rem;
height: 1.5rem;
justify-items: flex-end;
margin-right: 10px;
}